body{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(163, 148, 148);
    font-weight: 300;
    text-align: center;
    background-color: #fff;
}

header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
  }
  
  header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 2rem;
  }

.question{
    font-size: 20px;
    margin-bottom: 10px;
}

.answers {
 margin-bottom: 15px;
 text-align: left;
 display: inline-block;
}

.answer label{
    display: block;
    margin-bottom: 10px
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: beige;
    color:burlywood;
    border: 0px;
    border-radius: 4px;
    padding: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}

.slide{
    position:absolute;
    left: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide{
    opacity: 1;
    z-index: 2;
}

.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
}

footer {
    width: 100%;
    background: var(--secondary);
    color: var(--tertiary);
    font-size: 2.4rem;
    padding: 20px;
    border-top: 5px solid var(--primary);
  }

  
  h1{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }
